/*

!ags
!alacritty
!hypr
!hyprpanel
!hyde
!kitty
!k9s
!nvim
!nwg-look
!.oh-my-zsh
!rofi
!swaylock
!swaync
!swww
!wal
!waybar
!waypaper
!wpaperd
!wlogout
!wofi
!zellij
!starship.toml
!.gitignore
!README.md
