* {
    main-bg:            #2D2363B3;
    main-fg:            #D4CCFFE6;
    main-br:            #B84888E6;
    main-ex:            #7B3577E6;
    select-bg:          #F0AABF80;
    select-fg:          #522935E6;
}
