* {
    main-bg:            #010206B3;
    main-fg:            #CCD6FFE6;
    main-br:            #3D98D2E6;
    main-ex:            #03437BE6;
    select-bg:          #AACCF080;
    select-fg:          #293D52E6;
}
