* {
    main-bg:            #2C101DB3;
    main-fg:            #FFCCE4E6;
    main-br:            #B1817DE6;
    main-ex:            #774051E6;
    select-bg:          #F0C5AA80;
    select-fg:          #523829E6;
}
