$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #4C0AFF;
$secondary_paletteKeyColor: #807094;
$tertiary_paletteKeyColor: #8E6A99;
$neutral_paletteKeyColor: #787582;
$neutral_variant_paletteKeyColor: #787585;
$background: #13121C;
$onBackground: #E5E0EF;
$surface: #13121C;
$surfaceDim: #13121C;
$surfaceBright: #3A3843;
$surfaceContainerLowest: #0E0D17;
$surfaceContainerLow: #1C1A25;
$surfaceContainer: #201E29;
$surfaceContainerHigh: #2A2933;
$surfaceContainerHighest: #35333F;
$onSurface: #E5E0EF;
$surfaceVariant: #474553;
$onSurfaceVariant: #C9C4D6;
$inverseSurface: #E5E0EF;
$inverseOnSurface: #312F3A;
$outline: #928E9F;
$outlineVariant: #474553;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #C7BFFF;
$primary: #C7BFFF;
$onPrimary: #2B009E;
$primaryContainer: #3F00DC;
$onPrimaryContainer: #E5DEFF;
$inversePrimary: #572EFF;
$secondary: #D2BFE7;
$onSecondary: #382A4A;
$secondaryContainer: #4F4061;
$onSecondaryContainer: #EDDCFF;
$tertiary: #E2B8EC;
$onTertiary: #43244E;
$tertiaryContainer: #A983B4;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #E5DEFF;
$primaryFixedDim: #C7BFFF;
$onPrimaryFixed: #180065;
$onPrimaryFixedVariant: #3F00DC;
$secondaryFixed: #EDDCFF;
$secondaryFixedDim: #D2BFE7;
$onSecondaryFixed: #221533;
$onSecondaryFixedVariant: #4F4061;
$tertiaryFixed: #F9D8FF;
$tertiaryFixedDim: #E2B8EC;
$onTertiaryFixed: #2C0E37;
$onTertiaryFixedVariant: #5B3A66;
